#  enum Which{ none=0, sum, square, hole, rosenbrock, rastrigin } which;
fctChoice = 1
condition = 1

# enum WhichConstraint { wedge2D=1, halfcircle2D, randomLinear } which;
constraintChoice = 3

dim=60

SinusesFunction_a = 5

#enum TestType { unconstrained=1, constrained, phaseOne, gaussNewton };
exercise = 2

#  enum MethodType { squaredPenalty=1, augmentedLag, logBarrier };
method = 1
