<launch>
	<!--<node pkg="the_curious_robot" type="smach_behavior.py" name="tcr_behavior" output="screen" />-->
  <node pkg="the_curious_robot" type="perception.py" name="tcr_perception" output="screen" />
	<!--<node pkg="the_curious_robot" type="controller.py" name="tcr_controller" output="screen" />-->
  <!--<node pkg="the_curious_robot" type="test_actionlib_behavior.py" name="BeliefUpdateServer" output="screen" />-->
  <!--<node pkg="articulation_models" type="model_learner_srv" name="model_learner_srv" output="screen"/>-->
  <node pkg="the_curious_robot" type="behavior_state_machine.py" name="tcr_state_machine" output="screen" />
  <node pkg="the_curious_robot" type="sas_init.py" name="tcr_init" output="screen" />
  <node pkg="the_curious_robot" type="sas_pick_ooi.py" name="tcr_sas_pick_ooi" output="screen" />
  <node pkg="the_curious_robot" type="sas_goto_ooi.py" name="tcr_sas_goto_ooi" output="screen" />
  <node pkg="the_curious_robot" type="sas_articulate_ooi.py" name="tcr_sas_articulate_ooi" output="screen" />
  <node pkg="the_curious_robot" type="sas_observe_ooi_traj.py" name="tcr_sas_observe_ooi_traj" output="screen" />
  <node pkg="the_curious_robot" type="sas_learn.py" name="tcr_sas_learn" output="screen" />
</launch>
