%% C++/IDEs
*.o
*.a
*.so
*.exe
*.swp

tags
.cccc
*.tmp

*.kdev4
vc60.idb
.*.config
.*.creator
.*.creator.user*
.*.files
.*.includes

.cproject
.project
*eclipse*
*_moc.cpp
*_ui.h

*.pyc


# EXECUTION
core
CORE


%% BACKUP/temporary files
nogit*
*~
z.*
z/
MT.log
.#*#
.#*


%% MAKE
Makefile.dep
Make.lock
.lastMake


%% CMAKE
CMakeCache.txt
CMakeFiles
cmake_install.cmake


%% SWIG
*_wrap.cxx
ors.py
orspy.py


%% LATEX
*.aux
*.dvi
*.log
*.out
*.toc
*.tdo
*.blg
*.bbl
*.fdb_latexmk


%% SPECIAL for git/mlr:
share/gofMake/make-config
share/gofMake/make-config.mine
share/extern/tony_mdp/parser.tab.cpp
share/extern/ODE_0.11/download
share/extern/ODE_0.11/ode-0.11
share/extern/ODE_0.11/ode-0.11
share/extern/ode-0.11
share/extern/cuda
share/extern/cudaSDK
share/extern/ntcan
share/extern/opencv-2.1
share/extern/schunkLWA
share/extern/schunkSDH-11-05-11
share/extern/urg-0.0.2
share/extern/esdcan-*


%% QUESTIONABLE ???!!!
*.zip
*_doc
html
*.tgz


%% ROS
build/
catkin/
catkin_generated/
devel/
gtest/
msg_gen
srv_gen
*Action.msg
*ActionFeedback.msg
*ActionGoal.msg
*ActionResult.msg
*Feedback.msg
*Goal.msg
*Result.msg
