*.o
*.a
*.so
*.exe
*.swp

*.kdev4
vc60.idb
.*.config
.*.creator
.*.creator.user
.*.files
.*.includes

*~

*.tgz

z.*

*_doc

*_moc.cpp
*_ui.h

MT.log
Makefile.dep
*.swp

%% IMPORTANT: individual compilation modes:
share/make-config

%% special:
share/extern/tony_mdp/parser.tab.cpp
share/extern/ODE_0.11/download
share/extern/ODE_0.11/ode-0.11
share/extern/ODE_0.11/ode-0.11
share/extern/ode-0.11
share/extern/cuda
share/extern/cudaSDK
share/extern/ntcan
share/extern/opencv-2.1
share/extern/schunkLWA
share/extern/schunkSDH-11-05-11
share/extern/urg-0.0.2
share/extern/esdcan-*

% Eclipse Files
.cproject
.project
*eclipse*

